@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
*/ * {
	margin: 0px;
	padding: 0px;
}
.navs-height {
	height: 50px;
}
.navbar-nav .nav-item {
	margin-right: 30px;
	font: normal normal normal 16px/16px Gilroy;
}
.navbar-nav {
	padding-left: 50px;
}
.navbar-brand {
	padding-left: 210px;
}

.side {
	padding-left: 250px;
	padding-top: 20px;
}

.col-sm-6 {
	padding-left: 100px;
}

.logo {
	padding-left: 120px;
}

.bg-image {
	/* Add the blur effect */
	filter: blur(2px);
	-webkit-filter: blur(2px);

	/* Full height */

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 40px;
	text-align: center;
	font-weight: 70px;
}

.change {
	font-weight: 70px;
}

.search-form {
	position: relative;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transform: translate(-50%, -50%);
	background: #fff;
	transition: all 0.3s ease;
	/* margin-top: 30px; */

	&.focus {
		box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
	}
}

.search-input {
	position: absolute;
	top: 10px;
	left: 38px;
	font-size: 14px;
	background: none;
	color: #5a6674;
	width: 220px;
	height: 20px;
	border: none;
	appearance: none;
	outline: none;

	&::-webkit-search-cancel-button {
		appearance: none;
	}
}

.search-button {
	position: absolute;
	top: 10px;
	left: 15px;
	height: 20px;
	width: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none !important;
	cursor: pointer;

	& svg {
		width: 20px;
		height: 20px;
		fill: #5a6674;
	}
}

.search-option {
	position: absolute;
	text-align: right;
	top: 10px;
	right: 15px;
}

.pich {
	font-size: 40px;
	text-align: left;
	font: normal normal normal 40px/80px Gilroy-Bold;
	color: #000000;
	text-transform: capitalize;
	opacity: 1;
	padding-left: 30px;
}

.white {
	padding-bottom: 84px;
}

.grey {
	background-color: rgb(46, 45, 45);
	padding: 20px;
	width: 100%;
}

.sect {
	background-image: url(./image-s/Rectangle\ 99.svg);
	padding: 3px;
}

.magnify-icon1 {
	padding-right: 390px;
	padding-top: -4px;
}

.card {
	padding: 5px;
	border: none;
	outline: none;
}

.outline {
	border: none;
	outline: none;
	background-color: white;
}

.searchbox {
	border: none;
	outline: none;
	width: 290px;
}
.op {
	opacity: 0.4;
	color: #ffffff;
	letter-spacing: 1px;
}
.op1 {
	opacity: 0.4;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
}
.auto {
	font-size: 18px;
}
.rum {
	padding-top: 40px;
}
.gum {
	padding-top: 30px;
}
.tup {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: none;
	outline: none;
}

/* .container5 {
    position: relative;
	  background-image: url("/Group\ 117.svg");
	  background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
	  height: 400px;
	  width: 50%;
	  border: 2px solid blue;
  }
  
  button{
    position: absolute;
	padding: 16px;
	background-color: green;
	border-radius: 16px;
	bottom: 10px;
	left: 200px;
	width: 100px;
  } */

/*div {
      position: relative;
      display: inline-block;
      margin: 0 1px;
      cursor: pointer;
      
      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.01;
        cursor: pointer;
      }
      
       span {
        position: absolute;
        display: block;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        background: #929AA3;
        color: #fff;
        font-size: 9px;
        letter-spacing: 1px;
        line-height: 1;
        text-transform: uppercase;
        padding: 4px 7px;
        border-radius: 12px;
        top: -18px;
        transition: all .2s ease-in-out;
        
        &::after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          border-top: 4px solid #929AA3;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          transition: all .2s ease-in-out;
        }
      }
      
      &:hover span {
        opacity: 1;
        top: -21px;
      }
      
      label {
        display: block;
        cursor: pointer;
      }
      
      svg {
        height: 20px;
        width: 20px;
        fill: #5a6674;
        opacity: 0.6;
        transition: all .2s ease-in-out;
        pointer-events: none;
      }
      
      &:hover svg {
        opacity: 1;
      }
      
      input:checked + label svg {
        fill: $color;
        opacity: .9;
      }
      
      input:checked + label span {
        background: $color;
        
        &::after {
          border-top-color: $color;
        }
      }
    }
  
  
  } */
