@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
	margin: 0px;
	padding: 0px;
}
p,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Poppins", sans-serif;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.background-video {
	position: relative;
	width: 100%;
	height: 100vh; /* Adjust as needed */
	overflow: hidden;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	/* Additional styling for your content */
}
.navs-height {
	height: 50px;
}
.navbar-nav .nav-item {
	margin-right: 8px;
}
.navbar-brand {
	margin-top: 6px;
}
.text-001 {
	text-align: right;
	letter-spacing: 0px;
	color: white;
	text-transform: capitalize;
	opacity: 1;
  font-family: "Poppins", sans-serif;
}
.text-001:hover {
	color: gray;
}
.text-orion {
	color: #f1f1f1;
	font-size: 15px;
  font-family: "Poppins", sans-serif;

}
.text-header,
.text-011 {
	font-size: medium;
	text-align: right;
	letter-spacing: 0px;
	color: black;
	opacity: 1;
	text-transform: capitalize;
}
.icon-01 {
	width: 25px;
	height: 18px;
	padding-bottom: 5px;
}
.dropdown-small {
	position: absolute;
	top: 40px;
	right: -60px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.videoo {
	margin-left: 0px;
	margin-right: 0px;
}
.bottom-row {
	background-color: #fff5dd;
}
.bottom-tax {
	letter-spacing: 0px;
	color: #000000;
	text-transform: capitalize;
	opacity: 1;
	font-size: 40px;
	justify-content: center;
  font-family: "Poppins", sans-serif;
}
.rec-start-inner {
	background-color: #141414;
	width: 240px;
	height: 245px;
}
.rec-text1 {
	color: grey;
	font-size: 14px;
	font: bolder;
}
.PrevNext{
  padding: 0px 16px;
}

.PrevNext a{
  font-size: 20px;
}
.text-prew{
  font-size: 170px;
}
.PrevNextContainer{
  position: absolute;
  left: 60px;
}
/* .prews {
	width: 100%;
	margin-top: 20px;
} */

.rec-start-2 {
	background-color: #141414;
	width: 120px;
}
.rec-image {
	width: 18px;
	height: 18px;
	filter: grayscale(100%);
}
.search-icon {
	height: 16px;
	width: 16px;
	margin-right: 8px;
}

.search-flex-container {
	padding: 10px;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: fit-content;
	border-radius: 15px;
	bottom: 30px;
}

.search-text-container {
	display: flex;
	flex-direction: row;
	margin-right: 30px;
	align-items: center;
}

.search-text {
	width: 250px;
	height: 20px;
	font-size: 14px;
	outline: none;
	border: none;
	/* padding-right: 20px; */
	/* margin-right: 10px; */
}

.search-button {
	/* margin-left: 50px; */
	font-size: 14px;
	font-weight: 600;
	border-radius: 10px;
	width: 110px;
	height: 40px;
	border: none;
	text-transform: capitalize;
	background-color: #c5a47e;
}
/* css for section 2  */
.text-brands {
	letter-spacing: 0px;
	color: #000000;
	text-transform: capitalize;
	opacity: 1;
	text-align: start;
	font-size: 50px;
	font-weight: 900;
  font-family: "Poppins", sans-serif;
}
.text-0101 {
	font: normal normal normal 50px/50px Gilroy-Bold;
	color: #000000;
	text-transform: capitalize;
	opacity: 1;
}

.logo {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
}

.logo img {
	width: 124px;
	height: 56px;
	object-fit: contain;
	filter: grayscale(100%);
}

.logo img:hover {
	filter: none;
}
/* for carousal */
.tns-nav [data-nav]::after {
	background-color: black;
	/* border: 10px solid black; */
}
/* css for section3 */

.offers {
	padding-bottom: 120px;
	background-color: black;
}
/* div.tns-nav{
  display: none;
} */

.offers-text {
	font-size: 20px;
	letter-spacing: 8.2px;
	color: #ffffff;
	text-transform: uppercase;
	opacity: 1;
	margin-bottom: 50px;
}
.btns {
	color: #ffffff;
	background-color: black;
	border: none;
	padding-right: 4px;
}
.offer-images {
	width: 270px;
	height: 350px;
}
.button-svg {
	width: 60px;
	height: 20px;
}
.text-one {
	width: 307px;
	height: 18px;
	text-align: left;
	font: normal normal medium 16px/28px Gilroy;
	letter-spacing: -0.32px;
	color: #ffffff;
	opacity: 0.6;
}
.text-two {
	width: 200px;
	height: 68px;
	text-align: left;
	letter-spacing: -0.4px;
	color: #ffffff;
}
.botton {
	background-color: black;
	color: white;
	border: none;
	font-weight: bold;
	text-transform: capitalize;
}
.image-arroww {
	height: 12px;
	padding: 0 0 0 8px;
}
/* for courasal */
.PrevNext,
.KnowMore {
	font: normal normal regular 14px / 16px Gilroy-Regular;
	font-size: 14px;
	text-decoration: none;
}

.PrevNext a,
.KnowMore a,
.PrevNext a:visited,
.KnowMore a:visited {
	font: normal normal regular 8px / 16px Gilroy-Regular;
	text-transform: capitalize;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1.1px;
}

.offers-date-text {
	color: #ffffff;
	opacity: 0.6;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 0px 0px 0px;
	letter-spacing: -0.32px;
}

.offers-desc-text {
	letter-spacing: -0.4px;
	color: #ffffff;
	opacity: 1;
	font-size: 16px;
	font-weight: medium;
	margin-top: -8px;
}

.tiny-slider .item {
	padding: 12px;
}

/* css for section 4 */
.section4 {
	background-color:#fff5dd;
	background-image: url("../images/giftcards1.png");
	background-size: 75% 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.gift-cards {
	font-size: 30px;
	font: normal normal bold 20px / 30px Gilroy;
	letter-spacing: 9.2px;
	color: black;
	text-transform: uppercase;
	opacity: 1;
	margin-bottom: 35px;  
}
.cards {
	color:#caad88;
}
.cards-background {
	background-image: url("../images/giftcards2.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	opacity: 1;
	position: relative;
}
.text-11 {
	color: white;
	font-size: 45px;
	margin-top: 35px;
  font-weight: 900;
  text-align: left;
	/* margin-left: 40px; */
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.image-11 {
	width: 320px;
	height: 230px;
}
.btn-011 {
	width: 150px;
	height: 50px;
	border-radius: 28px;
	background-color: white;
	font-weight: bold;
}
.image-12 {
	width: 550px;
	height: 640px;
	position: absolute;
	margin-top: 460px;
}
/* css for section 5 */
.image-001 {
	width: 600px;
	height: 425px;
}
.image-002 {
	width: 300px;
	height: 425px;
}
/* css for section 6 */
.section6 {
	background-image: url("/images/cinema1.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px 0px;
	position: relative;
	width: 100%;
	display: flex;
}
.image-20{
  position:absolute;
  width: 225px;
  top: -50px;
  /* margin-bottom: 900px; */

}
.text-60 {
	font-size: 25px;
	letter-spacing: 5.2px;
	color: #ffffff;
	text-transform: uppercase;
	opacity: 1;
	padding-right: 0;
	margin-top: 80px;
	font-weight: 700;

}
.button-6 {
	background-color: yellow;
	color: black;
	padding: 12px 20px;
	border-radius: 35px;
	width: fit-content;
	margin: 12px 0px 80px;
}

.text-61 {
	font-size: 40px;
	font-weight: 900;
	letter-spacing: -0.4px;
	color: #ffffff;
	text-transform: capitalize;
	opacity: 1;
}
.text-62 {
	color: white;
	letter-spacing: px;
	font-weight: lighter;
	font-size: 14px;
	opacity: 0.7;
}
/* css for section 7 */
.channels-section {
  display: flex;
  flex-direction: column;
}

.channels-section h1{
  font-size: 20px;
  font: normal normal regular 20px / 30px Gilroy;
  letter-spacing: 6px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.social-icons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 0;
  padding: 0 48px;
  width: 100%;
}

.channels-images-container{
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.channel-img{
  width: calc(100%/3);
  height: 320px;
  padding: 21px;
}

.channel-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* css for section 8 */
.section8 {
	background-image: url(../images/servicesbg.png);
}
.text-80 {
	text-align: center;
	/* font: normal normal bold 35px/30px Gilroy; */
	letter-spacing: 10px;
	color: #c5a47e;
	text-transform: uppercase;
	opacity: 1;
	font-size: 25px;
}
.text-81 {
	text-align: center;
	font-size: 45px;
	letter-spacing: 0px;
	color: #ffffff;
	text-transform: capitalize;
	opacity: 1;
}
.row83 {
	text-align: center;
	justify-content: space-evenly;
	margin-top: 40px;
}
.icons-011 {
	width: 50px;
	height: 45px;
}
.text-85 {
	text-align: center;
	font-weight: normal;
	letter-spacing: -0.46px;
	color: #ffffff;
	opacity: 1;
	margin-top: 10px;
}
.text-86 {
	font-size: 13px;
	letter-spacing: 0px;
	color: #ffffff;
	font-weight: normal;
}
.grey {
	background-color: rgb(46, 45, 45);
	padding: 20px;
}

.nam {
	display: inline-block;
}
.text-90 {
	text-align: left;
	font: normal normal normal 15px/35px Gilroy-SemiBold;

	color: #ffffff;
	opacity: 1;
}
.text-91 {
	text-align: center;
  font-size: 12px;
	color: #ffffff;
	opacity: 1;
}
.image-91 {
	width: 180px;
	height: 60px;
	margin-top: 20px;
}

@media (max-width: 767px) {
	/* Styles for mobile go here */
	.text-brands {
		letter-spacing: 0px;
		color: #000000;
		text-transform: capitalize;
		opacity: 1;
		text-align: center;
		font-size: 35px;
		font-weight: bolder;
		margin-bottom: 10px;
    margin-top: 10px;
	}
	.brand-paras {
		margin-bottom: 40px;
		text-align: center;
	}
	.search-flex-container {
		display: none;
	}
	.cinemas_container {
		padding: 0px 16px;
		justify-content: center;
	}

	.cinemas_container h3,
	h1,
	p {
		text-align: center;
	}

	.cinemas_container .button-6 {
		align-self: center;
	}
	.footer-1 {
		margin-bottom: 0px !important;
	}
	.channels-mb {
		margin-bottom: 10px;
	}
	.text-60,
	.text-80 {
		font-size: 18px;
	}
	.text-61,
	.text-81 {
		font-size: 30px;
	}

  .line-remove{
    display: none;
  }
  .line-add{
    margin-top: 20px;
  }
  .image-12{
    display: none;
  }
  .text-11{
    font-size: 30px;
  }
}

.text-86 {
	margin-bottom: 60px;
}

/* for responsiveness */
@media (max-width: 576px) {
	.image-20 {
		display: none;
	}
	.rec-start {
		display: none;
	}
	.text-header,
	.text-011 {
		margin-top: 20px;
	}
	.bottom-tax {
		font-size: 30px;
	}
	.text-001 {
		text-align: left;
		letter-spacing: 0px;
		color: black;
		text-transform: capitalize;
		opacity: 1;
	}
	.navbar-brand {
		min-width: 140px;
		display: block;
	}
	.dropdowns-cont {
		display: none;
	}
	.dropdowns-cont2 {
		display: flex;
	}
  .navbar {
		background-color: black;
    padding-bottom: 120px;
	}
}
.dropdowns-cont {
	display: flex;
	flex-direction: row;
	padding: 0;
	align-items: center;
	min-width: 400px;
	margin-left: 25px;
}
.dropdowns-cont2 {
	display: none;
	flex-direction: row;
	padding: 0;
	align-items: center;
}
/* @media (max-width: 991px) {
	.navbar-brand {
		padding-left: 0;
	}
} */

@media (max-width: 567px) {
	.dropdowns-cont {
		display: none;
	}
	.dropdowns-cont2 {
		display: flex;
	}
}

@media (min-width: 1200px) {
	.collapse {
		margin-left: 80px;
	}
}
@media (min-width: 1500px) {
  .navbar-toggler {
    display: none;
  }
}

/* hshs */


@media only screen and (max-width: 1300px) and (min-width: 568px) {
  .social-icons-container{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0 24px;
  }
  
  .channel-img{
      width: calc(100%/2);
      height: 320px;
  }

  .channels-images-container{
      padding: 0px;
      margin: 0;
  }

  .social-icons{
      width: 50%;
      padding: 8px 0px;
      justify-content: center;
  }
} 


@media screen and (max-width:567px) {
  .social-icons-container{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0 24px;
      flex-wrap: wrap;
  }

  .social-icons{
      margin: 8px;
  }
  
  .channel-img{
      width: 100%;
      height: 320px;
    }
}
@media screen and (max-width:1440px){
  .navbar-nav .nav-item {
    margin-right: -6px !important;
  }
}